body{
    background-image: url(https://i.pinimg.com/736x/16/38/86/1638869948315633c4e2ba122b45cac4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000%;
    border-width: 0;
    background-attachment: fixed;
}
.container{
    gap: 20px;
    justify-content: center;
}
.product1 img{
    width: 200px;
    height: 200px;

}
.product2 img{
     width: 200px;
    height: 200px;
    text-align: center;

}
   